Source: python3-cyberfusion-self-discover
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools, pybuild-plugin-pyproject
Standards-Version: 4.3.0

Package: python3-cyberfusion-self-discover
Architecture: all
Depends: python3, uvicorn, ${python3:Depends}, ${misc:Depends}
Description: self-discover serves autodiscover (Outlook) and autoconfig (Thunderbird) XML files for mail auto-configuration.
 self-discover serves autodiscover (Outlook) and autoconfig (Thunderbird) XML files for mail auto-configuration.
